{% extends 'pages/layout.html' %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            {% include 'includes/_flashmsg.html' %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-list-ul fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{len_result}}</div>
                            <div>Sản phẩm</div>
                        </div>
                    </div>
                </div>
                <a href="/admin">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{users_rows}}</div>
                            <div>Nhân viên</div>
                        </div>
                    </div>
                </div>
                <a href="/users">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{order_rows}}</div>
                            <div>đơn hàng</div>
                        </div>
                    </div>
                </div>
                <a href="/orders">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default my-4">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>All Product List
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% if result %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Danh mục sản phẩm</th>
                                        <th>Tên thường gọi</th>
                                        <th>Tên khoa học</th>
                                        <th>Giá tiền</th>
                                        <th>Kích thước</th>
                                        <th>Ảnh sản phẩm</th>
                                        <th>Công dụng</th>
                                        <th>Mô tả</th>
                                        <th>Cách trồng & Chăm sóc</th>
                                        <th>Ngày tạo</th>
                                        <th>Số lượng</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in result %}
                                    <tr>
                                        <td>{{product[0]}}</td>
                                        {% if product[1] == 1 %}
                                        <td>Cây dây leo</td>
                                        {% elif product[1] == 2 %}
                                        <td>Cây công trình</td>
                                        {% elif product[1] == 3 %}
                                        <td>Cây giống</td>
                                        {% elif product[1] == 4 %}
                                        <td>Cây thủy sinh</td>
                                        {% elif product[1] == 6 %}
                                        <td>Cây không khí</td>
                                        {% elif product[1] == 7 %}
                                        <td>Cây để bàn</td>
                                        {% elif product[1] == 8 %}
                                        <td>Bosai cây cảnh</td>
                                        {% elif product[1] == 9 %}
                                        <td>Cây bám tường</td>
                                        {% elif product[1] == 10 %}
                                        <td>Cây ăn quả</td>
                                        {% elif product[1] == 11 %}
                                        <td>Cây trồng trong nước</td>
                                        {% elif product[1] == 12 %}
                                        <td>Cây may mắn</td>
                                        {% elif product[1] == 13 %}
                                        <td>Cây nội thật</td>
                                        {% endif %}
                                        <td>{{product[2]}}</td>
                                        <td>{{product[3]}}</td>
                                        <td>{{product[4]}}</td>
                                        <td>{{product[5]}}</td>
                                        <td><img src="../static/image/product/{{product[6]}}" alt="Ảnh sản phẩm {{product[0]}}" width="150" height="100"></td>
                                        <td>{{product[7]}}</td>
                                        <td>{{product[8]}}</td>
                                        <td>{{product[9]}}</td>
                                        <td>{{product[10]}}</td>
                                        <td>{{product[15]}}</td>
                                        {% if product[14] == 0 %}
                                        <td>Không còn bán</td>
                                        {% elif product[14] == 1 %}
                                        <td>Đang hết hàng</td>
                                        {% elif product[14] == 2 %}
                                        <td>Đang bán</td>
                                        {% endif %}
                                        <td>
                                            <a href="/edit_product?id={{product[0]}}">
                                                <div class="">
                                                    <span class="">Edit</span>
                                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/delete_product?id={{product[0]}}">
                                                <div class="">
                                                    <span class="" >Xóa</span>
                                                    <span class="pull-right"><i class="fa fa-trash"></i></span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% else %}
                            <h3>No orders found</h3>
                            {% endif %}
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
{% endblock %}